.ChangeShow{
  .form-control{
    margin-left: 10%;
    margin-right: 10%;
    width: 80%;
  }
  .under-text{
    border-bottom: 2px solid rgb(251, 59, 68);
    padding-bottom: 5px;
  }
  h1{
    margin-top: 60px;
    margin-bottom: 60px;
  }
  .button-sub, button{
    width: 250px;
    height: 50px;
    color: white;
    background-color: rgb(251, 59, 68);
    border-radius: 2px;
    border: grey;
    box-shadow:1px 1px 5px 5px grey;
    margin: 20px;
    margin-top: 40px;
    margin-bottom: 40px;
  }
}