.Prices{
  width: 100%;
  .under-text{
    border-bottom: 2px solid rgb(251, 59, 68);
    padding-bottom: 5px;
  }
  h1{
    margin: 80px;
  }
  Table{
    margin-bottom: 160px;
    width: 93%;
    margin-left: 3.5%;
  }
   @media screen and (max-width: 768px){
        Table{
          margin-bottom: 160px;
    width: 93%;
    margin-left: 2.5%;
        }
  }
}